.mi-footer {
  background-color: #111; /* Color oscuro */
  color: #888;
  padding: 15px 0; /* Espacio vertical muy pequeño */
  width: 100%;
  border-top: 1px solid #333;
}

.footer-mini-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; /* Texto a la izquierda, links a la derecha */
  align-items: center;
  padding: 0 20px;
}

.footer-text {
  font-size: 13px;
  margin: 0;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links a {
  color: #888;
  text-decoration: none;
  font-size: 13px;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #646cff; /* Lila de React */
}