body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #242424; /* Fondo oscuro */
  color: white;
  font-family: sans-serif;
}

/* Fondo oscuro que cubre toda la pantalla */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000; /* Por encima del Navbar */
}

/* Caja del modal */
.modal-content {
  background: #1e1e1e;
  padding: 40px;
  border-radius: 15px;
  border: 1px solid #535bf2;
  color: white;
  text-align: center;
  min-width: 300px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.btn-primario {
  background: #535bf2;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-secundario {
  background: transparent;
  color: #aaa;
  border: 1px solid #444;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}